:root {
    --main-bg-color: #191919;
    --second-bg-color: #282828;
}

body {
    margin: 0;
    background-color: var(--main-bg-color);
    font-family: 'Roboto', sans-serif;
    color: azure;
}

/*ЛОГО*/
.logo-wrapper {
    width: 100%;
    height: 50px;
    background-image: url(https://via.placeholder.com/1920);
}

.logo-img {
    width: 100%;
    height: 50px;
}

/*НАВИГАЦИЯ*/
nav {
    height: 63px;
    background-color: var(--second-bg-color);
    font-family: 'Russo One', sans-serif;
}

.nav-wrapper-el {
    height: 63px;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav .topmenu {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

nav .topmenu li {
    list-style-type: none;
}

nav a {
    white-space: nowrap;
    display: inline-block;
    color: azure;
    text-decoration: none;
    padding: 1em 1em 1em 1em;
    font-size: 1.2em;
    outline: none;
}

.active-nav-item {
    color: yellow;
    background-color: var(--main-bg-color);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

nav a:hover {
    color: yellow;
    background-color: var(--main-bg-color);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.submenu {
    background-color: var(--second-bg-color);
}

.submenu li {
    list-style-type: none;
}

.submenu a {
    padding: 0;
}

.submenu-title {
    margin-bottom: 0.5em;
}

.submenu-item {
    font-size: 0.8em;
}

.disable {
    display: none;
}


