{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>Yellow Vega Custom Shop</title>

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
        integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Oswald|Pangolin|Press+Start+2P|Russo+One" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-grid.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

  <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/script.js' %}"></script>

</head>
<body>
<header>
  <div class="container-fluid">

    <div class="row"><div class="col indent"></div></div>

    <nav class="row justify-content-center">

      <div class="col-12 nav-wrapper-el">
        <ul class="topmenu">
          <li><a href="/">Главная</a></li>
          <li><a id="nav-item-catalog" href="#">Каталог
            <i id="chevron-off" class="fa fa-chevron-down fa-fw" aria-hidden="true"></i>
            <i id="chevron-on" class="fa fa-chevron-up fa-fw" aria-hidden="true"></i>
          </a></li>
          <li><a href="/about/">Обо мне</a></li>
          <li><a href="/delivery/">Доставка</a></li>
          <li><a href="/payment/">Способы оплаты</a></li>
        </ul>
      </div>

      <div class="col-12 submenu disable">
        <div class="row justify-content-center">

          <div class="col-3">
            <ul>
              <li class="submenu-title"><a href="#">Гитарное усиление</a></li>
              <li class="submenu-item"><a href="/catalog/combo-amps/">Комбики</a></li>
              <li class="submenu-item"><a href="#">Усилители</a></li>
              <li class="submenu-item"><a href="#">Кабинеты</a></li>
            </ul>
          </div>

          <div class="col-3">
            <ul>
              <li class="submenu-title"><a href="#">Педали эффектов</a></li>
              <li class="submenu-item"><a href="#">Перегрузы</a></li>
              <li class="submenu-item"><a href="#">Модуляция</a></li>
              <li class="submenu-item"><a href="#">Блоки питания</a></li>
            </ul>
          </div>

          <div class="col-3">
            <ul>
              <li class="submenu-title"><a href="#">Корпуса</a></li>
              <li class="submenu-item"><a href="#">Индивидуальные</a></li>
              <li class="submenu-item"><a href="#">Рековые</a></li>
            </ul>
          </div>

          <div class="col-3">
            <ul>
              <li class="submenu-title"><a href="#">Прочее</a></li>
              <li class="submenu-item"><a href="#">Гитарные кейсы</a></li>
              <li class="submenu-item"><a href="#">Педалборды</a></li>
              <li class="submenu-item"><a href="#">Коммутация</a></li>
              <li class="submenu-item"><a href="#">Стойки</a></li>
            </ul>
          </div>

        </div>
      </div>
    </nav>

  </div>

</header>

<main class="wrap-main">
  {% block main %}{% endblock %}
  {% block catalog %}{% endblock %}
  {% block delivery %}{% endblock %}
  {% block payment %}{% endblock %}
  {% block about %}{% endblock %}
</main>

</body>
</html>