{% extends '_catalog.html' %}


{% block categories %}
  <div class="container">
    <div class="row">
      <div class="col-12">
        {% include '__breadcrumbs.html' %}
      </div>

      <div class="col-lg-6 col-sm-12 wrap-block categories">
        <div class="block ">
          <p class="title">Гитарное усиление</p>
          <div class="categories-urls">
            <a class="categories-urls-elm" href="combo-amps">Комбики</a>
            <a class="categories-urls-elm" href="#">Усилители</a>
            <a class="categories-urls-elm" href="#">Кабинеты</a>
          </div>
        </div>
      </div>

      <div class="col-lg-6 col-sm-12 wrap-block categories">
        <div class="block">
          <p class="title">Педали эффектов</p>
          <div class="categories-urls">
            <a class="categories-urls-elm" href="#">Перегрузы</a>
            <a class="categories-urls-elm" href="#">Модуляция</a>
            <a class="categories-urls-elm" href="#">Блоки питания</a>
          </div>
        </div>
      </div>

      <div class="col-lg-6 col-sm-12 wrap-block categories">
        <div class="block">
          <p class="title">Прочее</p>
          <div class="categories-urls">
            <a class="categories-urls-elm" href="#">Гитарные кейсы</a>
            <a class="categories-urls-elm" href="#">Педаоборды</a>
            <a class="categories-urls-elm" href="#">Коммутация</a>
            <a class="categories-urls-elm" href="#">Стойки</a>
          </div>
        </div>
      </div>

      <div class="col-lg-6 col-sm-12 wrap-block categories">
        <div class="block">
          <p class="title">Корпуса</p>
          <div class="categories-urls">
            <a class="categories-urls-elm" href="#">Индивидуальные</a>
            <a class="categories-urls-elm" href="#">Рековые</a>
          </div>
        </div>
      </div>

    </div>
  </div>

{% endblock %}